* {
  box-sizing: border-box;
}

.post_container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 67%;
  margin: 48px;
  padding: 16px;
}

#postText {
  width: 100%;
}

.create_post_gif {
  display: flex;
  justify-content: center;
}

.post__buttons {
  display: flex;
  justify-content: flex-end;
}

.post__button {
  margin: 8px !important;
}

.post__text {
  margin-bottom: 8px;
  word-wrap: break-word;
}

#gif_search_container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  margin-bottom: 50px;
}

.form_fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.gifs_container {
  display: flex;
  width: 70%;
  height: 350px;
  flex-wrap: wrap;
  overflow-x: scroll;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
  margin: 16px;
  border-radius: 12px;
}

.show_posts {
  border: 2px dashed black;
  margin: 48px;
  padding: 16px;
  width: 67%;
}

.post {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  padding: 8px;
  margin: 16px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .post_container {
    width: 95%;
    margin: 8px;
    padding: 8px;
  }

  .create_post_gif {
    display: flex;
    justify-content: center;
  }

  .create_post_gif img {
    width: 200px;
    height: 200px;
  }

  .post__buttons {
    display: flex;
    justify-content: center;
  }

  #gif_search_container {
    padding: 8px;
    margin: 8px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show_posts {
    margin: 16px;
    padding: 8px;
    width: 92%;
  }

  .post {
    margin-bottom: 32px;
  }

  .post__text {
    word-wrap: break-word;
  }
}
